<% provide(:title, t(:signin)) %>
<h1>Sign in</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_tag sessions_path do %>
      <%= label_tag :username_email, t(:login_name) %>
      <%= text_field_tag :username_email, params[:username_email] %>

      <%= label_tag :password %>
      <%= password_field_tag :password %>

      <%= submit_tag t(:signin), class: "btn btn-large btn-primary" %>
    <% end %>

    <p>New user? <%= link_to t(:signup_now), signup_path %></p>
  </div>
</div>